@import "bourbon"; // Bourbon framework for Sass
@import "../frameworks/neat/neat-helpers"; // Bourbon framework for Sass

// grid structure variables for Neat //
$grid-columns: 12;
$max-width: em(1080); // value in pixels but defined unitless for calculations

// Override Neat's grid settings //
$column: golden-ratio(1em, 3) !default; // Column width
$gutter: golden-ratio(1em, 3) !default; // Gutter between each two columns

// Set Bourbon's flex-grid variables to match what Neat is doing
// http://bourbon.io/docs/#flex-grid

$fg-column: $column;
$fg-gutter: $gutter;

// Define your breakpoints - note, for Retina media queries, use Bourbon's mixin '@include hidpi' //
$mobile-skinny: new-breakpoint(min-width 320px 4);
$mobile-wide: new-breakpoint(min-width 480px 4);
$tablet: new-breakpoint(min-width 768px 12);
$desktop: new-breakpoint(min-width 960px 12);
$superwide: new-breakpoint(min-width 1080px 12);