@import "bourbon"; // Bourbon framework for Sass
@import "structural/grid-settings"; // Default site-wide grid settings for Neat to control grid structure
@import "frameworks/neat/neat"; // Bourbon Neat responsive grid framework for Sass

@import "base/config"; // Default site-wide variables and mixins, must set to control theme
@import "base/functions"; // Default site-wide variables and mixins, must set to control theme

// ---------- styles loaded for unique modules and page code ---------- //

.accordion {

	h5 {
		@include inverted-letterpress(0.8, 1px, 1px, 1px);
		@include transition(background-color 0.1s ease-in-out);
		margin: $margin 0 0 0;
		padding: $padding/2 $padding;
		color: white;
		font-weight: 300;
		cursor: pointer;
		//border: 1px solid $color-bg-light;
		background-color: shade($color-nav, $color-shift*2);
		//@include letterpress;
		//background: $color-bg-light;

		&:first-child {
			//margin-top: 0;
		}

		&:hover {
			//background: shade($color-bg-light, $color-shift);
			background-color: $color-nav;
		}
	}


	.content {
		@include clearfix;
		padding: $padding;
		background-color: lighten($color-bg-dark, $color-shift*4);
		//border: 1px solid $color-bg-light;
		border-top: 0;

		p {
			margin-bottom: 0;

			&:first-child {
				margin-top: 0;
			}
		}

		dl {
			padding: $padding;
			font-size: em($type-small);
			//background: lighten($color-bg-dark, $color-shift*4);
			background-color: white;

			dt {
				font-weight: bold;
			}

			// ------ triangular list bullets: http://css-tricks.com/snippets/css/triangular-list-bullets/ ------ //

			dd {
				margin-left: $margin;
				//font-size: em($type-small);
				margin-top: $margin/4;

				&:before {
				    position: relative;
				    top: 1em;
				    left: -1em;
				    display: block;
				    width: 0;
				    height: 0;
				    border-width: 0.35em 0 0.35em 0.45em;
				    border-style: solid;
				    border-color: transparent #111;
				    content: "";
				}
			}

			// ------ end triangular list bullets ------ //
		}
	}
}

// ------ class required for expand/collapse toggle ------ //
// ------ positional hack: http://stackoverflow.com/questions/3197250/position-a-css-background-image-x-pixels-from-the-right/

.info-collapse {
	background-image: url('../img/icons/ico-collapse.png');
	background-repeat: no-repeat;
	background-position: right $margin center;
}

.info-expand {
	background-image: url('../img/icons/ico-expand.png');
	background-repeat: no-repeat;
	background-position: right $margin center;
}

// ------ class required for show/hide toggle ------ //

.hidden {
	display: none;
}

// - - - - - - - - - - - - - MEDIA QUERIES - - - - - - - - - - - - - //

@include media($mobile-skinny) {

	h5 {
		font-size: em($type-small);
	}

	.content {

		p {
			font-size: em($type-small);
		}

		dl {
			margin: 20px 0 0 0;
		}
	}
}

@include media($desktop) {

	h5 {
		font-size: em($type-h6);
	}

	.content {

		p {
			font-size: em($type-px);
		}

		dl {
			margin: 0;
		}
	}
}