@import "bourbon"; // Bourbon framework for Sass
@import "structural/grid-settings"; // Default site-wide grid settings for Neat to control grid structure
@import "frameworks/neat/neat"; // Bourbon Neat responsive grid framework for Sass

@import "base/config"; // Default site-wide variables and mixins, must set to control theme
@import "base/functions"; // Default site-wide variables and mixins, must set to control theme

// ------- Code for the image carousel, based on: http://www.barrelny.com/blog/building-a-jquery-slideshow-plugin-from-scratch -------- //

.carousel-wrapper {
	position: relative;
	padding: 0;

	.container {
		@include clearfix;
	}

	& .max-width {
		padding: 0;
	}

	.masthead {
		position: absolute;
		z-index: 5;
		//width: 60%;
		//margin-top: 30%;
		//margin-left: $margin*2;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		h3 {
			//@include letterpress;
			//@include inverted-letterpress;
			@include inverted-letterpress(0.8, 1px, 2px, 1px);
			display: inline-block;
			font-size: em($type-h1);
			//color: $color-heading-dark;
			color: $color-heading-light;
			font-weight: 400;
			//background-color: rgba(223, 223, 223, 0.75);
			background-color: rgba(22, 22, 22, 0.6);
			padding: $padding;
		}
	}

	.overlay {
		@include box-shadow(0px 4px 4px rgba(0,0,0,.2));
		@include opacity(0.7);
		border-bottom: 1px solid shade($color-bg-light, $color-shift);
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: white;
		z-index: 4;
	}
}

.carousel {
	position: relative;
	padding-top: 50%;
	overflow: hidden;

	.slide {
		position: absolute;
		//width: 100%;
		//height: 100%;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
		opacity: 0;
	}

	img.slide {
		height: auto;
	}

	.image01 {
		background: url('../img/carousel-alt/01.jpg') no-repeat center right;
	}

	.image02 {
		background: url('../img/carousel-alt/02.jpg') no-repeat center bottom;
	}

	.image03 {
		background: url('../img/carousel-alt/03.jpg') no-repeat center center;
	}

	.image04 {
		background: url('../img/carousel-alt/04.jpg') no-repeat center center;
	}

	.image05 {
		background: url('../img/carousel-alt/05.jpg') no-repeat center bottom;
	}

	.image06 {
		background: url('../img/carousel-alt/06.jpg') no-repeat center center;
	}

	.image07 {
		background: url('../img/carousel-alt/07.jpg') no-repeat center bottom;
	}
}

@include media($mobile-skinny) {

	.carousel-wrapper {

		.masthead {
			padding: 5%;

			h3 {
				font-size: em($type-h6);
			}
		}
	}

	section {
		margin-top: 0;
	}
}

@include media($tablet) {

	.carousel-wrapper {

		.masthead {
			padding: 15%;

			h3 {
				font-size: em($type-h4);
			}
		}
	}
}

@include media($desktop) {

	.carousel-wrapper {

		.masthead {
			padding-top: 10%;
			padding-left: 5%;
			padding-right: 5%;

			h3 {
				font-size: em($type-h1);
			}
		}
	}
}

@include media($superwide) {

	.carousel-wrapper {

		.masthead {
			padding-top: 25%;
			padding-left: 5%;
			padding-right: 5%;
		}
	}
}