@import "bourbon"; // Bourbon framework for Sass

@import "base/config"; // Default site-wide variables and mixins, must set to control theme
@import "base/functions"; // Default site-wide variables and mixins, must set to control theme

// ------- Code for the image carousel, based on: http://www.barrelny.com/blog/building-a-jquery-slideshow-plugin-from-scratch -------- //


.carousel {
	position: relative;
	padding-top: 50%;
	overflow: hidden;

	.slide {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		//bottom: 0;
		z-index: 1;
		opacity: 0;
	}

	img.slide {
		height: auto;
	}

	.image01 {
		background: url('../img/carousel/balconies.jpg') no-repeat right center;
	}

	.image02 {
		background: url('../img/carousel/black-house.jpg') no-repeat right top;
	}

	.image03 {
		background: url('../img/carousel/homeimage.jpg') no-repeat center top;
	}

	.image04 {
		background: url('../img/carousel/inside.jpg') no-repeat center center;
	}

	.image05 {
		background: url('../img/carousel/plan.jpg') no-repeat center center;
	}

	.image06 {
		background: url('../img/carousel/strategy.jpg') no-repeat center center;
	}

	.image07 {
		background: url('../img/carousel/white-roof-line.jpg') no-repeat center bottom;
	}
}