@import "bourbon"; // Bourbon framework for Sass

@import "base/config"; // Default site-wide variables and mixins, must set to control theme
@import "base/functions"; // Default site-wide variables and mixins, must set to control theme
@import "structural/grid-settings"; // Default site-wide grid settings for Neat to control grid structure
@import "frameworks/neat/neat"; // Bourbon Neat responsive grid framework for Sass

// - - - - - - - - - - - - - CUSTOM MIXINS - - - - - - - - - - - - - //

@mixin topcorners {
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
}

@mixin linkblock {
	@include inline-block;
	@include transition(background-color 0.1s ease-in-out);
	padding: $padding/4;
}

@mixin crumb-triangles {
	position: absolute; // to place in position
	top: 50%;
	left: 100%; // to place on right side of container
	display: block;
	margin-top: -30px; // equal to border-top/bottom
	width: 0;
	height: 0;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	content: " "; // empty content
}

// - - - - - - - - - - - - - TYPOGRAPHIC DECLARATIONS - - - - - - - - - - - - - //

// --------------- defaults ----------------

body {
	position: relative;
	//background: $color-bg-dark;
	background: url(#{$bg-primary});
	font-size: $type-pct;
	line-height: $lineheight-factor;
}

html>body {
	font-size: $type-px*1px;
}

// --------------- headers and paragraphs ----------------

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	font-family: $helvetica;
}

h1 {
	font-size: em($type-h1);
}

h2 {
	font-size: em($type-h2);
}

h3 {
	font-size: em($type-h3);
}

h4 {
	font-size: em($type-h4);
}

h5 {
	font-size: em($type-h5);
}

h6 {
	font-size: em($type-h6);
}

p {

}

// --------------- in-line emphasis ----------------

b, strong {

}

i, em {

}

u {

}

s {

}

// --------------- quotes, cites and definitions ----------------

blockquote {

	&:before, &:after {

	}
}

q {

}

cite {

}

dfn {

}

abbr {

}

// --------------- code and preformatted ----------------

pre, code, samp, kbd {

}

var {

}

// --------------- smalltext ----------------

small {

}

sub {

}

sup {

}

// --------------- bidirectional ----------------

bdo {

}

// --------------- insertions and deletions ----------------

ins {

}

del {

}

// --------------- informational ----------------

address {

}

// - - - - - - - - - - - - - HTML5 TYPOGRAPHIC DECLARATIONS - - - - - - - - - - - - - //

mark {

}

ruby {

	rp {

	}

	rt {

	}
}

// - - - - - - - - - - - - - STANDARD HYPERLINK DECLARATIONS - - - - - - - - - - - - - //

a, a:link, a:visited {
	text-decoration: none;
	cursor: pointer;
}

a:active {

}

a:hover, a:focus {

}

// - - - - - - - - - - - - - LIST DECLARATIONS - - - - - - - - - - - - - //

ul {
	padding-left: 0;
}

ul li {
	list-style-type: none;
}

ol {

}

ol li {

}

dl {

}

dt {

}

dd {
	margin-left: 0;
}

// - - - - - - - - - - - - - FORM ELEMENT DECLARATIONS - - - - - - - - - - - - - //

fieldset {

}

legend {

}

label {

}

input[type="button"], input[type="submit"], input[type="reset"], button[type="button"], button[type="submit"], button[type="reset"], button, a.button {
	border: 0;
	padding: $padding/2;
	float: right;

	&:hover {

	}

	&:active {

	}
}

input[type="text"], input[type="password"], input[type="file"] {

	&:hover {

	}

	&:focus {

	}
}

textarea {

	&:hover {

	}

	&:focus {

	}
}

input[type="radio"], input[type="checkbox"] {

	&:hover {

	}

	&:checked {

	}
}

select {

	&:hover {

	}

	&:focus {

	}

}

select option {

	&:hover {

	}
}

input[disabled] {

}

input[readonly] {

}


// - - - - - - - - - - - - - TABLE STRUCTURE DECLARATIONS - - - - - - - - - - - - - //

table {

}

thead tr, tfoot tr {

}

thead th, tfoot th {

}

tbody tr {

}

tbody th {

}

tbody td {

}

caption {

}

// - - - - - - - - - - - - - HTML5 NON-STRUCTURAL ELEMENT DECLARATIONS - - - - - - - - - - - - - //

// --------------- secondary information ----------------

figure {

}

figcaption {

}

// --------------- form elements ----------------

progress {

}

meter {

}

datalist {

 	&:hover {

 	}

	&:focus {

	}
}

datalist option {

	&:hover {

	}
}

input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"] {

	&:hover {

	}

	&:focus {

	}
}

// --------------- HTML5 elements ----------------

header {
	color: $color-heading-light;

	h1 {
		@include inline-block;
		@include inverted-letterpress(0.8, 2px, 2px, 1px);
		padding-top: $margin;

		&.nobold {
			font-weight: 100;
		}
	}
}

section {

	&.masthead {

		h3 {
			@include inverted-letterpress(0.2, 1px, 1px, 1px);
			color: tint($color-heading-dark, $color-shift);
		}
	}
}

article {

}

aside {

}

section, aside {

	// default button styles for within content - one for anchors with a HREF, one without
	// using attribute selector trickery: http://css-tricks.com/attribute-selectors/

	& a {
		@include linkblock;
		@include letterpress;
		background-color: $color-bg-light;
		color: $color-heading-dark;
		font-weight: 100;
		font-size: em($type-small);
		cursor: default;

		&:hover {
			background-color: shade($color-bg-light, $color-shift);
		}
	}

	& a[href], & input[type="submit"] {
		@include inverted-letterpress(0.8, 1px, 1px, 1px);
		background-color: shade($color-nav, $color-shift*2);
		color: white;

		&:hover {
			background-color: $color-nav;
		}
	}
}

footer {
	padding: $padding;
	color: $color-heading-light;
	font-weight: 100;

	h3 {
		@include inline-block;
		@include inverted-letterpress(0.8, 2px, 2px, 1px);
		margin-bottom: 0;
		font-family: $helvetica;
	}

	a {
		@include linkblock;
		background: shade($color-bg-dark, $color-shift);
		color: $color-bodycopy-light;

		&:hover {
			background: tint($color-bg-dark, $color-shift);
		}
	}

	li {
		margin: $margin/4 0;
		font-size: em($type-small);
	}
}

audio {

}

video {

}

canvas {

}

// ------ icon font controls: http://icomoon.io ------ //

[class^="icon-"], [class*=" icon-"] {
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'icomoon';
	line-height: 1;
	speak: none;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// - - - - - - - - - - - - - UNIQUE DECLARATIONS - - - - - - - - - - - - - //

.max-width {

	&.light {
		@include box-shadow(0px 8px 2px rgba(0,0,0,.25));
		position: relative;
		z-index: 2;
		background: url(#{$bg-secondary});

		a {
			//color: $color-primary;

			&:hover {
				//text-decoration: underline;
			}
		}

		& .container {
			padding: $padding;
		}
	}
}

.container {
	margin-top: $margin/2;
	background: white;

	&:first-child {
		margin-top: 0;
	}
}

// ------ triangular breadcrumbs: http://css-tricks.com/triangle-breadcrumbs/ ------ //

.breadcrumbs {
	padding-bottom: 0;

	dl {
		overflow: hidden;
		margin: 0;
	}

	dt, dd {
		@include inline-block;
		font-size: em($type-small);
	}

	dd {
		margin-left: $margin/4;
	}

	a {
		@include inverted-letterpress(0.8, 1px, 1px, 1px);
		@include transition(background-color 0.1s ease-in-out);
		position: relative;
		padding: $padding $padding/2 $padding $padding;
		background-color: shade($color-nav, $color-shift*2);
		color: white;
		text-decoration: none;

		// ---- draw triangles using transparent borders ---- //
		&:after {
			@include crumb-triangles;
			@include transition(border-color 0.1s ease-in-out);
			z-index: 2; // position above breadcrumb button
			border-left: 15px solid shade($color-nav, $color-shift*2); // border-left half of border-top/bottom
		}

		// ---- draw behind triangles to create white divider edge ---- //
		&:before {
			@include crumb-triangles;
			z-index: 1; // set behind main triangle
			margin-left: 2px; // margin to move behind triangle across for left edge thickness
			border-left: 15px solid white; // colour triangle same as main container background eg white
		}

		&:hover {
			background-color: $color-nav; // background of breadcrumb hover state

			&:after {
				border-left: 15px solid $color-nav; // hover state of linked triangle, same as background color
			}
		}
	}

	.crumb-selected {
		@include letterpress;
		background: $color-bg-light;
		color: $color-heading-dark;
		cursor: default;

		&:after {
			border-left: 15px solid $color-bg-light;
		}

		&:hover {
			background: shade($color-bg-light, $color-shift); // background of breadcrumb hover state

			&:after {
				border-left: 15px solid shade($color-bg-light, $color-shift); // hover state of linked triangle, same as background color
			}
		}
	}

	.icon-home {
		background-color: shade($color-nav, $color-shift*2);
		background-image: url('../img/icons/home.png');
		background-position: right center;
		background-repeat: no-repeat;
	}
}

// ------ end triangular breadcrumbs ------ //

.content-display {

	h5 {
		@include letterpress;
		@include transition(background-color 0.1s ease-in-out);
		margin: 0;
		padding: $padding/2 $padding;
		color: $color-heading-dark;
		font-weight: 300;
		//border: 1px solid $color-bg-light;
		background-color: $color-bg-light;
	}

	section {
		margin-top: $margin;
	}

	.content {
		@include clearfix;
		padding: $padding;
		background-color: lighten($color-bg-dark, $color-shift*4);
		//border: 1px solid $color-bg-light;
		border-top: 0;

		p {
			margin-bottom: 0;

			&:first-child {
				margin-top: 0;
			}
		}
	}
}

.more-information {
	padding: $padding;
	background-color: lighten($color-bg-dark, $color-shift*4);

	p {
		margin: 0;
	}
}

// ------ class required for show/hide toggle ------ //

.hidden {
	display: none;
}

// - - - - - - - - - - - - - MEDIA QUERIES - - - - - - - - - - - - - //

@include media($mobile-skinny) {
	header {

		h1 {
			font-size: em($type-h3);
		}

		// ------ icon font controls: http://icomoon.io ------ //

		.icon-menu {
			@include inline-block;
			@include inverted-letterpress(0.8, 1px, 2px, 1px);
			@include opacity(0.6);
			@include transition(opacity 0.2s ease-in-out);
			margin: 0 $padding/2;
			font-size: 32px;

			&:before {
				content: "\e600";
			}

			&:hover {
				@include opacity(1);
			}
		}

		// ------ end icon fonts ------ //
	}

	nav {
		@include box-shadow(0px 4px 2px rgba(0,0,0,.25));
		@include transition(all 0.2s ease-in-out);
		position: absolute;
		top: -60%;
		right: 0;
		left: 0;
		z-index: 3;

		&.displayed {
			top: 0;
		}

		ul {
			margin: 0;
		}

		li {
			display: block;
			border-top: 1px solid shade($color-nav, $color-shift);
			//background: $color-nav;
		}

		a {
			@include inverted-letterpress(0.8, 1px, 1px, 1px);
			@include transition(background-color 0.1s ease-in-out);
			display: block;
			padding: $padding/2 $padding;
			background: shade($color-nav, $color-shift*2);
			color: white;
			text-decoration: none;
			font-weight: 100;

			&:hover {
				background: $color-nav;
			}
		}

		// ------ icon font controls: http://icomoon.io ------ //

		.icon-cancel-circle {
			display: block;
			padding: $padding;
			font-size: 32px;

			&:before {
				content: '\e601';
			}
		}

		// ------ end icon fonts ------ //
	}

	section {

		&.masthead {

			h3 {
				margin-bottom: 0;
				font-size: em($type-h5);
			}
		}
	}

	.content-display {

		h5 {
			font-size: em($type-h6);
		}

		.content {

			p {
				font-size: em($type-small);
			}

			dl {
				margin: 20px 0 0 0;
			}
		}
	}

	.more-information {
		font-size: em($type-small);
	}
}

@include media($tablet) {
	header {
		padding-left: $padding;

		h1 {
			font-size: em($type-h1);
		}

		// ------ icon font controls: http://icomoon.io ------ //

		.icon-menu {
			display: none;
		}

		// ------ end icon fonts ------ //
	}

	nav {
		@include topcorners;
		@include inverted-box-emboss(0.5, 0.5);
		position: relative;
		z-index: 1;
		padding: $padding/2 0px;
		background: shade($color-nav, $color-shift*2);

		li {
			@include inline-block;
		}

		a {
			@include transition(all 0.1s ease-in-out);
			display: inline;

			&:hover {
				@include topcorners;
				@include inverted-box-emboss(0.5, 0.5);
				padding: $padding;
			}
		}

		.selected a {
			@include topcorners;
			//@include letterpress();
			@include inverted-letterpress(0.2, 1px, 1px, 1px);
			padding: $padding;
			background: white;
			color: $color-heading-dark;
		}

		ul li:first-child {
			display: none;
		}
	}
}

@include media($desktop) {
	section {

		&.masthead {

			h3 {
				margin-bottom: 0;
				font-size: em($type-h3);
			}
		}
	}

	.content-display {

		h5 {
			font-size: em($type-h6);
		}

		.content {

			p {
				font-size: em($type-px);
			}

			dl {
				margin: 0;
			}
		}

		.more-information {
			font-size: em($type-px);
		}
	}
}

// - - - - - - - - - - - - - FONTFACE DECLARATIONS (always loaded last) - - - - - - - - - - - - - //

//@include font-face($family-reg, 'font/opensans-r');
//@include font-face($family-italic, 'font/opensans-i');
//@include font-face($family-bold, 'font/opensans-b');
@include font-face($family-icon, 'font/icomoon');