@import "bourbon"; // Bourbon framework for Sass
@import "structural/grid-settings"; // Default site-wide grid settings for Neat to control grid structure
@import "frameworks/neat/neat"; // Bourbon Neat responsive grid framework for Sass
// @import "frameworks/neat-omegareset/mixins"; // Omega Reset override for Neat's omega function: http://joshfry.me/notes/omega-reset-for-bourbon-neat //

@import "base/config"; // Default site-wide variables and mixins, must set to control theme
@import "base/functions"; // Default site-wide variables and mixins, must set to control themereset-for-bourbon-neat //

// --------- all structural code ---------- //

.container, footer{
  @include outer-container;
  // background: #ccc;
}

.row {
	@include row;
}

.max-width {
	width: 100%;
	padding: 0 $padding/2;
}

@include media($mobile-skinny) {
	.full-width {
		@include span-columns(4);
	}

	.one-third {
		@include span-columns(4);
		margin-top: $margin;

		&:first-child {
			margin-top: 0;
		}
	}

	.two-thirds {
		@include span-columns(4);
	}

	.one-quarter {
		@include span-columns(4);
	}

	.half-width {
		@include span-columns(4);
	}

	.three-quarters {
		@include span-columns(4);
	}
}

@include media($tablet) {
	.full-width {
		@include span-columns(12);
	}

	.one-third {
		@include span-columns(12);

		footer & {
			@include span-columns(4);
			margin-top: 0;
		}
	}

	.two-thirds {
		@include span-columns(12);
	}

	.one-quarter {
		@include span-columns(12);
	}

	.half-width {
		@include span-columns(12);
	}

	.three-quarters {
		@include span-columns(12);
	}
}

@include media($desktop) {
	.full-width {
		@include span-columns(12);
	}

	.one-third {
		@include span-columns(4);
		margin-top: 0;
	}

	.two-thirds {
		@include span-columns(8);
	}

	.one-quarter {
		@include span-columns(3);
	}

	.half-width {
		@include span-columns(6);
	}

	.three-quarters {
		@include span-columns(9);
	}
}

//@include media($mobile-skinny) {
//
//}
//
//@include media($mobile-wide) {
//
//}
//
//@include media($tablet) {
//
//}
//
//@include media($desktop) {
//
//}
//
//@include media($superwide) {
//
//}

.last-child {
	// @include omega;
	margin-right: 0px !important;
	float: right !important;
	// *clear: both !important;
}