@import "bourbon"; // Bourbon framework for Sass
@import "structural/grid-settings"; // Default site-wide grid settings for Neat to control grid structure
@import "frameworks/neat/neat"; // Bourbon Neat responsive grid framework for Sass

@import "base/config"; // Default site-wide variables and mixins, must set to control theme
@import "base/functions"; // Default site-wide variables and mixins, must set to control theme

// ---------- styles loaded for unique modules and page code ---------- //

.content {

	ul {
		margin: 0;
	}
}

// - - - - - - - - - - - - - MEDIA QUERIES - - - - - - - - - - - - - //

@include media($mobile-skinny) {

	.content {

		ul {

			li {
				display: block;
				margin: $margin/2 0;
			}
		}
	}
}

@include media($tablet) {

	.content {

		ul {

			li {
				@include inline-block;
				margin: $margin/2 $margin/2 $margin/2 0;
			}
		}
	}
}