@import "bourbon"; // Bourbon framework for Sass
@import "structural/grid-settings"; // Default site-wide grid settings for Neat to control grid structure
@import "frameworks/neat/neat"; // Bourbon Neat responsive grid framework for Sass

@import "base/config"; // Default site-wide variables and mixins, must set to control theme
@import "base/functions"; // Default site-wide variables and mixins, must set to control theme

// ---------- styles loaded for unique modules and page code ---------- //

// ------ class required for show/hide toggle ------ //

[class^="social-"], [class*=" social-"] {
	padding-left: $padding*1.5; // set left padding to 30px for icon
	padding-right: $padding/2; // reset right padding to 10px
}

// - - - - - - - - - - - - - MEDIA QUERIES - - - - - - - - - - - - - //

@include media($mobile-skinny) {

	.content-display {

		.profile-image {
			text-align: center;
		}

		.profile-summary {
			margin-top: $margin;

			ul {
				margin-bottom: 0;

				li {
					@include inline-block;
					margin-top: $margin/4;

					&:first-child {
						margin-top: 0;
					}
				}
			}

			.social-profile {
				background-image: url('../img/icons/profile.png');
				background-repeat: no-repeat;
				background-position: 8px 50%; // xpos is 1/2 of icon width (16px), ypos is centered vertically (50%)
			}

			.social-email {
				background-image: url('../img/icons/email.png');
				background-repeat: no-repeat;
				background-position: 8px 50%; // xpos is 1/2 of icon width (16px), ypos is centered vertically (50%)
			}

			.social-linkedin {
				background-image: url('../img/icons/linkedin.png');
				background-repeat: no-repeat;
				background-position: 8px 50%; // xpos is 1/2 of icon width (16px), ypos is centered vertically (50%)
			}
		}
	}
}

@include media($tablet) {

	.content-display {

		.profile-image {
			@include span-columns(4 of 12);
		}

		.profile-summary {
			@include span-columns(8 of 12);
			margin-top: 0;
		}
	}
}

@include media($desktop) {

	.content-display {

		.profile-image {
			@include span-columns(12 of 12);
		}

		.profile-summary {
			@include span-columns(12 of 12);
			margin-top: $margin;
		}
	}
}

@include media($superwide) {

	.content-display {

		.profile-image {
			@include span-columns(3 of 6);
		}

		.profile-summary {
			@include span-columns(3 of 6);
			margin-top: 0;

			ul {

				li {
					display: block;
				}
			}
		}
	}
}