@import "bourbon"; // Bourbon framework for Sass

@import "base/config"; // Default site-wide variables and mixins, must set to control theme
@import "base/functions"; // Default site-wide variables and mixins, must set to control theme

// ---------- styles loaded for unique modules and page code ---------- //

h5 {
	@include letterpress;
	@include transition(background-color 0.1s ease-in-out);
	margin: 0;
	padding: $padding/2 $padding;
	color: $color-heading-dark;
	font-weight: 300;
	//border: 1px solid $color-bg-light;
	background: $color-bg-light;
}

fieldset {
	border: 0;
	margin: 0;
	padding: $padding;
	background: lighten($color-bg-dark, $color-shift*4);

	p {
		color: $color-heading-dark;
		margin: 0;
		font-weight: 100;
	}

	dl {
		margin-bottom: 0;
	}

	dt, dd {
		display: block;
	}

	dt {
		@include letterpress;
		margin-top: $margin;
	}

	dd {
		padding: $padding/4 0;
	}

	input[type="text"], input[type="email"], textarea {
		padding: $padding/2;
		width: 100%;
	}

	textarea {
		height: 240px;
		resize: none;
	}
}

.details {
	background: lighten($color-bg-dark, $color-shift*4);

	ul {
		margin: 0;
		padding: $padding;

		& li:first-child dl {
			margin-top: 0;
		}
	}

	dl {
		margin-bottom: 0;
	}

	dd {
		font-weight: 100;
		padding-left: $padding;
	}
}