@import "bourbon"; // Bourbon framework for Sass
@import "structural/grid-settings"; // Default site-wide grid settings for Neat to control grid structure
@import "frameworks/neat/neat"; // Bourbon Neat responsive grid framework for Sass

@import "base/config"; // Default site-wide variables and mixins, must set to control theme
@import "base/functions"; // Default site-wide variables and mixins, must set to control theme

// ---------- styles loaded for unique modules and page code ---------- //

.container {

	.row {
		margin-top: $margin;

		&:first-child {
			margin-top: 0;
		}
	}
}

section {

	&.logo {

		img {
			width: 100%;
			height: auto;
		}
	}

	&.info {

		&.team h5 {
			background: url('../img/icons/team.png') no-repeat left center;
		}

		&.clients h5 {
			background: url('../img/icons/clients.png') no-repeat left center;
		}

		&.about h5 {
			background: url('../img/icons/aboutus.png') no-repeat left center;
		}

		h5 {
			@include inverted-letterpress(0.2, 1px, 1px, 1px);
			@include inline-block;
			margin: 0;
			padding: $padding/4 0 $padding/4 $padding*2;
		}

		p {
			font-size: em($type-small);
		}
	}
}

aside {

	&.our-services {
		padding: $padding;
		background: lighten($color-bg-dark, $color-shift*4);

		h5 {
			//@include letterpress();
			@include inverted-letterpress(0.2, 1px, 1px, 1px);
			margin-bottom: $margin/2;
		}

		ul {
			margin-bottom: 0;
		}

		li {
			margin: $margin/4 0;
		}

		// ------ triangular list bullets: http://css-tricks.com/snippets/css/triangular-list-bullets/ ------ //

		//ul {
		    //margin: 0.75em 0;
		//    margin: 0;
		    //padding: 0 1em;
		//    padding: 0 20px;
		//    list-style: none;
		//}

		//li {
		//	font-size: em($type-small);

		//	&:before {
		//	    position: relative;
		//	    top: 0.9em;
		//	    left: -1em;
		//	    display: block;
		//	    width: 0;
		//	    height: 0;
		//	    border-width: 0.35em 0 0.35em 0.45em;
		//	    border-style: solid;
		//	    border-color: transparent #111;
		//	    content: "";
		//	}
		//}


		// ------ end triangular list bullets ------ //
	}
}

// - - - - - - - - - - - - - MEDIA QUERIES - - - - - - - - - - - - - //

@include media($mobile-skinny) {

	section {
		margin-top: $margin;
		padding-top: $padding;
		border-top: 1px solid $color-bg-light;

		&:first-child {
			margin-top: 0;
			padding-top: 0;
			border: 0;
		}

		&.logo {
			display: none;
		}
	}

	aside {

		ul li {
			@include inline-block;
		}
	}
}

@include media($desktop) {

	section {
		margin-top: 0;
		padding-top: 0;
		border: 0;

		&.logo {
			display: block;
		}
	}

	aside {

		ul li {
			display: block;
		}
	}
}