// - - - - - - - typographic variables - - - - - - - //
// to define h1-h6 sizes, use either http://lamb.cc/typograph or http://modularscale.com

// default sizes for h1-h6 and body copy in unitless pixel values
$type-h1: 32;
$type-h2: 28;
$type-h3: 24;
$type-h4: 21.3;
$type-h5: 18.7;
$type-h6: 16; // same as $type-px (body size default)
$type-px: 16; // body size in pixels

// sizes for blockquotes, captions, figcaptions and small print, override as necessary
$type-quote: $type-h4;
$type-caption: $type-h6;
$type-small: 13.3;

// alter multiplier value only, to taste
$lineheight-factor: 1.5;

// @fontface name declarations
$family-reg: 'OpenSans';
$family-bold: 'OpenSans Bold';
$family-italic: 'OpenSans Italic';
$family-mono: 'Courier New';
$family-icon: "icomoon";

// variable used to calculate body line height in unitless pixel values (do not change!)
$lineheight: $type-px * $lineheight-factor;

// variable for body size percentage calculation (do not change!)
$type-pct: (($type-px / 16) * 100%);

// - - - - - - - color variables - - - - - - - //

$color-bg-dark: #525252;
$color-bg-light: #dfdfdf;

$color-primary: #03768f;
$color-secondary: '';
$color-tertiary: '';

$color-nav: #25a2b0;
$color-bodycopy-dark: #444;
$color-bodycopy-light: #ddd;
$color-heading-dark: #222;
$color-heading-light: #eee;
$color-footer-links: #606060;

$color-alert: '';
$color-warning: '';
$color-confirm: '';

$color-shift: 15%; // generic value for use with darken(), lighten(), tint(), shade() etc

// - - - - - - - background image variables - - - - - - - //

$bg-primary: '../img/bg1.png';
$bg-secondary: '../img/bg2.png';
$bg-tertiary: '';

// - - - - - - - spacing variables - - - - - - - //

$padding: 20px;
$margin: 20px;